body {
  background: linear-gradient(
  to bottom,
  #405797, /* Top */
  #926FBE, /* Middle */
  #E79AF2  /* Bottom */
);
  cursor: var(--cursor-arrow);
}

html {
  cursor: var(--cursor-arrow);
}

/* Global font settings */
p,
span,
div,
label,
input,
textarea {
  font-family: var(--main-font);
}

/* Drag and drop areas */
.drop-zone {
  cursor: copy;
}

a, a:link, a:visited, .draggable, .dragging, .moveable, .draggable-item, button {
  cursor: var(--cursor-link);
}