.desktop {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 40px);
  /* Subtract menu bar height */
  box-sizing: border-box;
  padding: 0;
}

.desktop.fullscreen {
  top: 0;
  /* No offset when full-screen app is open */
  height: 100vh;
  /* Full height */
}

.desktop.loading {
  cursor: var(--cursor-wait);
}

.desktop.delaying {
  cursor: var(--cursor-busy);
}

.desktop.shutting-down {
  opacity: 0;
  pointer-events: none;
}