.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 19999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-content {
    padding: 16px;
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--windows-black);
    text-align: left;
    max-width: 26rem;
}

.dialog-message {
    margin: 0 0 14px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.dialog-icon {
    width: 40px;
    vertical-align: middle;
}

.dialog-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}